PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://db_user:<db_passowrd>@ac-zfecre9-shard-00-00.hhrxi4r.mongodb.net:27017,ac-zfecre9-shard-00-01.hhrxi4r.mongodb.net:27017,ac-zfecre9-shard-00-02.hhrxi4r.mongodb.net:27017/?ssl=true&replicaSet=atlas-sk4t05-shard-0&authSource=admin&appName=Cluster1
